<div class="container" id="contact">
    <div class="row">
        <div class="col-12">
            <section>
                {{ .Content }}
                {{ if isset .Site.Params "email" }}
                <!-- <div class="heading">
                  <h3>{{ i18n "contactForm" }}</h3>
                </div>
                <div id="contact-message"></div>
                <form class="contact-form" method="post" action="https://formspree.io/{{ .Site.Params.email }}">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                              <label for="name">{{ i18n "contactName" }}</label>
                                <input type="text" class="form-control" name="name" id="name" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="email">{{ i18n "contactMail" }}</label>
                                <input type="text" class="form-control" name="email" id="email" required>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                              <label for="message">{{ i18n "contactMessage" }}</label>
                                <textarea id="message" class="form-control" name="message" required></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center">
                          <button type="submit" class="btn btn-template-main"><i class="fa fa-envelope-o"></i>{{ i18n "contactSend" }}</button>
                        </div>
                    </div>
                </form> -->
                {{ end }}
            </section>
        </div>
        <!-- <div class="col-md-4">
            {{ if isset .Site.Params "address" }}
            <section>
              <h3 class="text-uppercase"> {{ i18n "contactAddrTitle" }}</h3>
                {{ .Site.Params.address | safeHTML }}
            </section>
            {{ end }}
        </div> -->
    </div>
</div>

<div class="container mt-4">
    <div class="row">
        <div class="map-responsive col-sm-12 col-md-6">
            <h3>Oslo</h3>
            <p>Arbeidersamfunnets plass 1, 0181 Oslo</p>
            <iframe
            width="100%"
            height="500"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1RRu7XTo8X_5SyUly9DIO_jEP7r7PlhI
                &q=Point+Taken,Oslo+NO" allowfullscreen>
            </iframe>
        </div>
        <div class="map-responsive col-sm-12 col-md-6">
            <h3>Kristiansand</h3>
            <p>Tangen 76, Tangen Babord, 4608 Kristiansand S</p>
            <iframe
            width="100%"
            height="500"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB1RRu7XTo8X_5SyUly9DIO_jEP7r7PlhI
                &q=Point+Taken,Kristiansand+NO" allowfullscreen>
            </iframe>
        </div>
        <div class="map-responsive col-sm-12 col-md-6">
            <br>
            <h3>Kragerø</h3>
            <p>Kirkegata 7, 3770 KRAGERØ</p>
            <iframe
            width="100%"
            height="500"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2062.652299961026!2d9.409585215603702!3d58.87017368150052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4647040ead04eaa1%3A0x2d5ca68241b01003!2sKirkegata+7%2C+3770+Krager%C3%B8!5e0!3m2!1sno!2sno!4v1524034633578" allowfullscreen>
            </iframe>
            
        </div>
    </div>
</div>

<!-- {{ partial "map.html" . }} -->
